{% macro page_link(page) -%}
    {{ url_for('index', page=page, q=query)  }}
{%- endmacro %}

{% with %}
    {% set max_buttons = 10  %}
    {% set pages = ceil(results.hits / results_per_page)  %}
    {% set page_nav = min(max_buttons, pages - 1) %}

    <ul class="pagination">
        {# previous page button #}
        {% if page == 0 %}
            <li class="disabled"><a href="#">&laquo;</a></li>
        {% else %}
            <li><a href="{{ page_link(page - 1) }}">&laquo;</a></li>
        {% endif %}

        {# buttons #}
        {% for i in range(page_nav) %}
            <li {% if i == page %} class="active" {% endif %}>
                <a href="{{page_link(loop.index0)}}">{{loop.index}}</a>
            </li>
        {% endfor %}

        {# over flow button #}
        {% if page_nav > max_buttons %}
            <li class="disabled"><a href="#">...</a></li>
        {% endif %}

        {# last page button #}
        {% if page == pages - 1 %}
            <li class="active"><a href="{{ page_link(pages-1) }}">{{ pages }}</a></li>
            <li class="disabled"><a href="#">&raquo;</a></li>
        {% else %}
            <li><a href="{{ page_link(pages - 1) }}">{{ pages }}</a></li>
            <li><a href="{{ page_link(page + 1) }}">&raquo;</a></li>
        {% endif %}
    </ul>

{% endwith %}

