.results-heading {
    margin-bottom: 0 !important;
}

.author-list {
    margin-bottom: 0;
}

.author-link {
    margin-right: 5px;
}
a.author-link, a.author-link:active, a.author-link:visited, a.author-link:hover {
    color: mediumseagreen;
}

.results-text {
    margin-bottom: 0 !important;
}

.facets-heading {
    margin-bottom: 5px !important;
    margin-top: 10px !important;
}

mark {
    background-color: rgba(255, 255, 0, 0.3);
}

body {
    padding-top: 70px;
}

.nav-fixed-top {
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    border-width: 0 0 1px;
    z-index: 1;
}
